---
layout: list.njk
title: Projects
collection: project
foreword: |
  Over the last few years, I've been doing the vast majority of my work in the open. Below you'll find a curated list of open-source projects I'm actively engaged with. To keep up-to-date with my latest work, follow me on <a href="https://github.com/galargh">GitHub</a>.
---
