---
layout: list.njk
title: Projects
collection: project
foreword: |
  Over the last few years, I've been doing the vast majority of my work in public. My contributions span a range of projects, including those under Protocol Labs, along with public resources such as Terraform providers or open-source GitHub Actions. Below is a curated list of projects I'm actively engaged with. To keep up-to-date with my latest work, follow me on <a href="https://github.com/galargh">GitHub</a>.
---
