---
title: Piotr Galar
---

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width,minimum-scale=1" name="viewport">

  <title>Piotr Galar | {{ title }}</title>

  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="/css/bundle.css">

  <link rel="shortcut icon" href="/images/piotr_galar.png">
  <link rel="icon" href="/images/piotr_galar.png" type="image/png">

  <meta name="description" content="Leading IPDX as advisor on Developer Experience. Previously at Protocol Labs, Sumo Logic, Twitter.">
  <link rel="canonical" href="https://piotrgalar.com">

  <meta property="og:site_name" content="Piotr Galar">
  <meta property="og:type" content="profile">
  <meta property="og:title" content="Piotr Galar">
  <meta property="og:description" content="Leading IPDX as advisor on Developer Experience. Previously at Protocol Labs, Sumo Logic, Twitter.">
  <meta property="og:url" content="https://piotrgalar.com">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Piotr Galar">
  <meta name="twitter:description" content="Leading IPDX as advisor on Developer Experience. Previously at Protocol Labs, Sumo Logic, Twitter.">
  <meta name="twitter:url" content="https://piotrgalar.com">
  <meta name="twitter:site" content="@galargh">
  <meta name="twitter:creator" content="@galargh">

</head>

<body>
  <div class="header">
    <div class="container">
      <div class="title">
        <a href="/">
          <div class="picture">
            <img src="/images/piotr_galar.png">
          </div>
          <div>
            <div class="h1">
              <span>Piotr Galar</span>
            </div>
            <div class="h2">
              Developer Experience Engineer
            </div>
          </div>
        </a>
      </div>
      <div class="nav">
        <a href="/">About</a>
        <span>·</span>
        <a href="/posts">Posts</a>
        <span>·</span>
        <a href="/talks">Talks</a>
        <span>·</span>
        <a href="/projects">Projects</a>
      </div>
    </div>
  </div>

  <div class="page">
    <div class="container">
      <h1>{{ title }}</h1>
      {%- if date -%}
        <div class="subtitle">{{ date | date('DD MMMM YYYY') }}</div>
      {%- endif -%}
      {{ content | safe }}
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="nav">
        <a href="https://github.com/galargh">GitHub</a>
        <span>·</span>
        <a href="https://twitter.com/galargh">Twitter</a>
        <span>·</span>
        <a href="https://www.linkedin.com/in/piotrgalar">LinkedIn</a>
        <span>·</span>
        <a href="mailto:piotr@piotrgalar.com">E-mail</a>
      </div>
    </div>
  </div>

</body>

</html>
