---
layout: list.njk
title: Talks
collection: talk
foreword: |
  In my talks, I look into the world of Developer Experience. I'm interested in automating processes, making CI/CD
  user friendly, and ensuring that teams can focus on what they do best. I try to mix bits of practical advice with
  some personal insights.
---
