---
layout: list.njk
title: Posts
collection: post
foreword: |
  I'm passionate about enhancing Developer Experience and my writings reflect that. In particular, I love following GitHub’s
  evolution, connecting it to the broader context of Developer Experience, and delivering actionable insights that
  developers can apply immediately to their work.
---
