@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;

  src: url( 'fonts/lato-regular.eot');
  src: url( 'fonts/lato-regular.eot?#iefix') format('embedded-opentype'), url( 'fonts/lato-regular.woff') format('woff'), url( 'fonts/lato-regular.ttf') format('truetype'), url( 'fonts/lato-regular.svg#latoregular') format('svg');
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #F8F0FB;
  color: #1D1A05;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.72222;
  margin: 0 0 60px 0;
}

.container {
  margin: 0;
  padding: 73px 15px 0 15px;
  text-align: center;
  width: 100%;
}

.headline {
  font: 900 90px/100px "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: -2px;
  margin: 10px 0;
}

.name {
  display: inline-block;
  vertical-align: 50%;
}

.logo {
  height: 227px;
  width: 227px;
  color: #1D1A05;
  filter: invert(7%) sepia(15%) saturate(4861%) hue-rotate(29deg) brightness(100%) contrast(96%);
}

.name small {
  color: #EF476F;
  display: block;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 22px;
  padding-top: 5px;
}

h1, h4, h5 {
  font-weight: 500;
  line-height: 1.1
}

.paragraph {
  margin: 0 auto;
  max-width: 973px;
}

h5.paragraph {
  text-align: left;
  line-height: 1.5em;
  font-size: 14px;
  margin: 10px auto;
  max-width: 573px;
}

.fa-ul {
  margin-left: 0;
}

h5.paragraph i {
  margin-right: 5px;
}

.footer {
  background-color: #420039;
  bottom: 0;
  font-size: 35px;
  height: 60px;
  width: 100%;
  position: absolute;
  padding: 0 15px;
  text-align: center;
}

.footer i {
  margin: 0 10px;
}

a {
  color: #EF476F;
  text-decoration: none;
}

.footer a {
  color: #F8F0FB;
}

a:hover {
  color: #770058;
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
  .logo {
    display: none;
  }
  .paragraph {
    width: 95%;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    padding-top: 23px;
  }
  .name span {
    font-size: 72px;
  }
  h4.paragraph {
    margin-top: -30px;
  }
}
